<h1> Now your results </h1>
<p> Your word: <%= @query %> </p>
<p> Translation: <%= @query_translation %> </p>
<p> Time taken to anwser: <%= @end_time - @start_time %> sec </p>
<p> Your score: <%= @result[:score] %> </p>
<p> Message: <%= @result[:message] %> </p>
